.ladi-header {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.ladi-header .ladi-h3 {
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: bold;
}

.ladi-header .text-uppercase {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
}
.bottom-contain{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.bottom-ladi-header {
    width: 25%;
    height: 1.5px;
    background-color: #868686;
}

.fw-bold {
    font-weight: bold;
}

.ladi-content-one {
    margin-top: 30px;
    background: linear-gradient(180deg, rgba(255, 202, 0, 0.00) 0%, rgba(248, 204, 72, 0.15) 132.26%);
}

.ladi-text-one {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    margin-bottom: 25px;
    font-style: italic;
}

.ladi-content-one-first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.ladi-content-one-first-left-text {
    font-size: 20px;
}

.ladi-content-one-first-left div {
    margin-bottom: 10px;
}

.ladi-content-one-first-left img {
    height: 40px;
    width: auto;
}

.ladi-content-one-right img {
    width: 100%;
    border-radius: 10px;
}

.ladi-content-one-first-item {
    display: flex;
    width: 100%;
}

.ladi-content-one-first-item1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.ladi-content-one-first-item2 {
    display: flex;
    flex-direction: column;
}
.ladi-content-one-first-item1 div {
    height: 50px;
    display: flex;
    align-items: center;
}
.ladi-content-one-first-item2 div {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

.ladi-content-one-button{
    display: flex;
    justify-content: center;
}

.ladi-content-one-button-div{
    background-color: #CF0000;
    border-radius: 10px;
    padding: 8px 10px;
}

.text-white{
    color: #fff;
}
.ladi-content-one-button-div img{
    width: 35px;
    margin-right: 10px;
}
.ladi-content-one-button-div span{
    font-size: 22px;
    font-weight: bold;
}

.ladi-content-one-button-div span:hover{
    border: none;
}

.ladi-xb{
   
}

.ladi-xb h3{
    font-size: 35px;
    margin-top: 0;
}

.ladi-xb .bp-ladi{
    font-size: 16px;
}

.ladi-ct{
    font-size: 30px;
}
.ladi-time{
    font-size: 20px;
}
.ladi-time span{
    font-size: 33px;
    font-weight: bold;
    color: #FFC700;
    border-bottom:2px solid #FFC700 ;
}

.ladi-thu-three{
    font-size: 33px;
}

.ladi-thu-three span{
    font-size: 20px;
}

.ladi-ita{
    font-style: italic;
    font-size: 18px;
}

.banner-full{
    margin-top: 60px;
}
.logo-ladi{
    margin-top: 60px;
}
.logo-ladi img{
    width: 100%;
    margin-bottom: 15px;
}

.ladi-text-ht{
    font-size: 20px;
    text-align: justify;
}

.col_unit {
    padding: 25px 20px 30px 20px;
    width: 20%;
    float: left;
    text-align: center;
}

.col_unit h3{
    font-size: 18px;
}
.ladi-footer{
    background-color: rgba(238, 238, 238, 1);
    padding-top: 30px;
    padding-bottom: 30px;
}
.ladi-footer-row{
    display: flex;
    align-items: center;
}
.ladi-footer-header{
    margin-bottom: 60px;
}
.ladi-footer-left div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ladi-footer-left img{
    margin-right: 10px;
}

.ladi-footer-left span{
   font-size: 18px;
}

.br-css{
    display: block;
}
.ladi-xb .bp-ladi {
    font-size: 20px;
}
@media only screen and (max-width: 900px) {
    .br-css{
        display: none;
    }
    .ladi-content-one-first-item1{
        margin-right: 25px;
    }
    .ladi-content-one-first-item1 div{
        height: 60px;
    }
    .ladi-content-one-first-item2 div{
        height: 60px;
    }
    .bottom-contain{
        padding: 30px;
    }
    .ladi-xb h3 {
        font-size: 29px;
    }
    .logo-ladi-img{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-ladi-img img{
        width: 46%;
    }
    .col_unit {
        width: 48%;
        padding: 10px 0px 10px 5px;
    }
    .col_unit{
        display: flex;
        align-items: center;
    }

    .col_unit img{
        width: 90px;
        margin-right: 12px;
    }
    .ladi-footer-row{
        display: flex;
        flex-direction: column;
    }
    .ladi-footer-header {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 600px) {
    .col_services{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .col_unit {
        width: 33%;
        padding: 10px 0px 10px 5px;
    }
    .col_unit{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col_unit img{
        width: 50px;
        margin-right: 12px;
    }
    .col_unit span{
        font-size: 13px;
    }
    .br-css{
        display: none;
    }
    .col-12{
        width: 100%;
    }
    .ladi-content-one .ladi-content-one-first{
        display: flex;
        flex-direction: column;
    }

    .ladi-content-one-first-item2 div {
        height: 40px;
        font-size: 15px;
    }
    .ladi-content-one-first-item1{
        margin-right: 25px;
    }
    .ladi-content-one-first-item1 div {
        height: 40px;
    }

    .ladi-content-one-button-div span {
        font-size: 16px;
    }
    .bottom-contain{
        padding: 15px;
    }

    .ladi-xb h3 {
        font-size: 20px;
    }
    .ladi-ct {
        font-size: 20px;
    }
    .ladi-thu-three {
        font-size: 20px;
    }
    .banner-full {
        margin-top: 20px;
    }
    .ladi-content-one-first-left-text {
        font-size: 20px;
    }
    .ladi-text-one {
        color: #000;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .ladi-content-one {
        margin-top: 10px;
    }
    .ladi-header .ladi-h3 {
        font-weight: 20px;
    }
    .ladi-header .text-uppercase {
        font-size: 20px;
    }
    .ladi-xb .bp-ladi{
        font-size: 15px;
    }
    .ladi-ita {
        font-size: 15px;
    }
    .logo-ladi {
        margin-top: 20px;
    }
    .logo-ladi-img{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-ladi-img img{
        width: 46%;
    }
    .ladi-text-ht {
        font-size: 15px;
        text-align: justify;
    }
    .col_unit h3 {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .ladi-footer-header {
        margin-bottom: 20px;
        font-size: 20px;
        margin-top: 0;
    }
    .ladi-footer-row{
        display: flex;
        flex-direction: column-reverse;
    }
    .ladi-footer-row .col-md-5 img{
        margin-bottom: 15px;
    }
    .ladi-footer-left span {
        font-size: 13px;
        text-align: justify;
    }
}